<div class="container">
  <section>
    <p class="drop-caps">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui mollitia magni consequatur tenetur cupiditate expedita, repellendus quod suscipit laborum odio enim molestiae animi repudiandae neque, officiis iure. Consectetur tenetur culpa sit? Provident praesentium maxime, dolore, vitae sapiente molestias fugit reprehenderit voluptatibus alias ut eum earum, minus sit cum in excepturi nemo. Corporis pariatur velit modi libero, nisi amet fugiat facilis sapiente explicabo veniam labore numquam, voluptate, quidem repudiandae deleniti non harum atque laborum? Tempore eaque impedit rerum. Harum vel explicabo quisquam at deserunt quasi temporibus eligendi totam. Eos, nostrum reiciendis molestiae quas sint natus error magnam deleniti nisi veritatis quaerat?
    </p>
  </section>
</div>
